.avatar {
  vertical-align: middle;
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.avatar:hover {
  filter: none;
  transform: scale(1.9);
}

.instagram:hover {
  color: dimgrey;
  transition: 0.2s ease-in-out;
}

.linkedin:hover {
  color: dimgrey;
  transition: color 0.2s ease-in-out;
}

.page {
  border-color: midnightblue;
}